# Ignorar ambiente virtual
venv/
.env

# Ignorar arquivos compilados do Python
__pycache__/
*.pyc

# Ignorar arquivos gerados pelo robô (para não vazar dados reais)
Documentos_Gerados/
*.docx
!modelo_dtc_template.docx
*.pdf

# Ignorar arquivos de build do PyInstaller
build/
dist/
*.spec